/*================== COLORS ==================*/

:root {
    --primary-blue: #40BFFF;
    --nav-text-color: #262626;
    --nav-icon-color: #22262A;
    --nav-ellipse-num: #FB7181;
    --banner-card-bg: #C1C8CE;
    --card-text-color: #223263;
    --card-hot-color: #FF4858;
    --ship-supp-color: #FF6875;
    --discount-line-color: #5D656B;
    --star-yellow: #FFC600;
    --star-grey: #C1C8CE;
    --footer-bg-color: #BCDDFE;
    --base-bg-color: #F6F7F8;
    --input-bg-color: #DFDEDE;
    --divider-color: #FAFAFB;
}