@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

/*================== FONTS AND TYPOGRAPHY ==================*/

 :root {
    --body-font: font-family: 'Poppins';
    --heading-1: 2rem;
    --heading-2: 1.5rem;
    --heading-3: 1.2rem;
    --normal-font: 1rem;
    --sm-font: .85rem;
    /*================== FONTS WEIGHT ==================*/
    --font-bold: 700;
    --font-semi-bold: 600;
    --font-medium: 400;
    --font-light: 200;
    //
}
